  <hr>
<h1><%= @another_entriy.user.name%>さんとのチャット</h1>
  <hr>
<% if @messages.present? %>
  <% @messages.each do |m| %>
  <p style="margin-left: 400px;"><%= m.content %></p>
  <% end %>
<% else %>
  <h3 style="margin-left: 400px;">メッセージはまだありません</h3>
<% end %>
<%= form_with model: @message do |f| %>
  <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size =>25 %>
  <%= f.hidden_field :room_id, :value => @room.id %>
  <br>
  <%= f.submit "送信" %>
<% end %>

